@charset "utf-8";

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: snow;
  margin: 0;
  padding: 0;
}

header {
  height: 5rem;
  background-color: green;
  /*background-image: url('img/header_img.png');*/
  opacity: 0.8;
  margin: 0;
  padding: 0;
  top: 0;
}

.header_title {
  text-align: center;
  line-height: 5rem;
  color: white;
  box-shadow: 2px 2px 4px black;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
.header_title > a:link {
  color: white;
}

.wrapper {
  width: 80%;
  margin: 1rem auto;
  display: grid;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1rem;
  margin: 0.5rem;
}

a:link, a:visited, a:hover, a:active {
  color: gray;
  text-decoration: none;
  border-bottom: 1px dotted #000;
  cursor: pointer;
}

.img-box {
  display: flex;
  margin-top: 1rem;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 80%;
  margin: 2rem auto;
}
caption {
  padding: 0.5rem;
  border: 1px solid black;
  font-weight: bold;
}
th, td {
  padding: 0.5rem;
}